* {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  /* header Section */ 
  .header__title {
    padding: 10px 0 0;
    font-family: "Bad Script", cursive;
    font-weight: bold;
    font-size: 25px;
  }
  
  .translate-button {
      padding: 8px 20px;
      margin-top: 5px;
      border-radius: 5px;
      background-color:rgb(48, 48, 117);;
      color: whitesmoke;
      font-weight: bold;
      font-size: 20px;
      border: none;
      cursor: pointer;
      outline: none;
  }
  
  .header__earth   {
    width: 90px;
    height: 88px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px 10px 0 600px;
    overflow: hidden;
    border-radius: 70%;
    box-shadow: 0 0 10px 10px rgb(44, 42, 42) inset, 0 0 10px 10px gray;
}

.header__earth > div{
   width : 300%;   
   height: 100%;
   animation: spin 30s linear alternate infinite;
   background-image: url("Earth.jpg");
   background-size: cover;
}
.header__earth  :after{
    border-radius: 70%;
}

@keyframes spin{
    to{
        transform: translateX(-50%);
    }
}

  
  /* search section */
  .search {
    padding: 10px 0;
  }
  
  .search__header {
    font-size: 22px;
    font-family: "Bad Script", cursive;
    font-weight: bold;
  }
  
  .search__menu {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    background: whitesmoke;
    font-weight: bold;
  }
  
  .search__button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgb(48, 48, 117);
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .search__label{
    font-size: 0.5px;
    color: white;
  }
  
  /* Article Section*/
  .articles{
      display: flex;
      justify-content: center;
  }
  .article__description{
    margin: 20px;
  }
  .articles__list {
      margin-top: 10px;
  }
  
  .article__img{
    width: 200px;
    height: 100px;
  }
  .articles__item{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    width: 350px;
  }
  .articles__anchor{
      color: black;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 48, 117);
    color: white;
    text-align: center;
  }
  @media only screen and (max-width: 450px) {
    .header__earth{
  
    margin: 30px 0 0 120px;
   
  }
  .header__title{
     margin-top: 30px; 
  }

  }

  